.Button
  display: inline-block
  border: none
  padding: 0
  margin: 0
  color: inherit
  outline: none
  cursor: pointer
  -webkit-appearance: none
  background-color: transparent

  &, &:hover
    text-decoration: none

  &-default, &-primary, &-success, &-danger, &-invisible
    border-width: 1px
    border-style: solid
    border-radius: 3px
    padding: 10px
    white-space: nowrap
    text-align: center
    &, &:hover, &:active
      color: black
    &:focus, &:active
      outline: -webkit-focus-ring-color auto 5px

  &-default
    background-color: #fff
    border-color: #E2E4E6
    &:hover
      background-color: #e6e6e6
      border-color: #adadad

  &-primary
    background-color: #337ab7
    border-color: #2e6da4
    &:hover
      background-color: #286090
      border-color: #204d74
    &:active
      background-color: #204d74
      border-color: #122b40

  &-success
    background-color: #5cb85c
    border-color: #4cae4c
    &:hover
      background-color: #449d44
      border-color: #398439
    &:active
      background-color: #398439
      border-color: #255625

  &-danger
    background-color: #d9534f
    border-color: #d43f3a
    color: black
    &:hover
      background-color: #c9302c
      border-color: #ac2925

  &-invisible
    &, &:hover
      background-color: transparent
      border-color: transparent

  &-disabled
    opacity: 0.3
    pointer-events: none

  &-thin
    padding: 5px
