.LoggedOutHomePage
  font-family: 'Raleway', sans-serif
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0
  height: 100%
  width: 100%
  background-image: url('../../images/cat.jpg')
  background-attachment: fixed
  background-position: center center
  background-size: cover
  display: block
  padding-top: 50px

  &-info,
  &-SectionOne,
  &-SectionThree
    text-shadow: 1px .5px #000
  &-icon
    width: 25px
    height: 25px
  &-info
    font-size: 30px
    margin-bottom: 50px
  &-SectionOne
    text-align: center
    color: #2C3539
    font-size: 100px
    color: white
  &-title
    font-family: 'Lobster', cursive

  &-SectionTwo
    text-align: center
    > .Button
      width: auto
      height: auto
      font-size: 20px
      padding: 10px
      &:hover
        background: #5CB85C
        border-color: #5CB85C
        color: #FFF
  &-SectionThree
    text-align: center
    > p
      font-size: 50px
      color: white
