.Navbar
  font-family: "Raleway", sans-serif
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  text-align: center
  white-space: nowrap
  background-color: black
  color: white
  padding: 5px 10px
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  .Link
    color: white
    &:hover, &:focus, &:active
      color: lightblue

  > div
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between

  &-logo
    font-family: "Lobster", cursive
    font-size: 40px
    &, &:focus, &:hover
      text-decoration: none
    > img
      height: 30px
      width: 30px
      margin-right: 0.25em
      -webkit-filter: invert(1)
      filter: invert(1)

  &-link
    display: inline-block
    padding: 0.5em 1em
    &:hover, &:focus, &:active
      text-decoration: none
      font-weight: bolder
      transform: scale(1.1)
      outline: none

  .Avatar
    margin: 0 15px
    height: 40px
    width: 40px
    border-radius: 50%

  @media (max-width: 900px)
    &-logo
      margin-right: 20px
    &-link
      padding: 0.5em
      > span
        display: none
    .Icon
      font-size: 150%

  @media (max-width: 600px)
    &-user-name
      display: none

  @media (max-width: 413px)
    &-logo
      margin-right: 0
      > span
        display: none
    &-link
      padding: 0.5em 0.25em
